body{
  overflow: hidden;
  height: 100vh;
  /* nous allons mettre un curser en croix sur la sourris*/
  cursor: crosshair;
}

/*creation de la bulle en css*/
.bubble {
  position: absolute;
  background: blue;
  border-radius: 300px;
  /*nous allons donner une direction du bas vers le haut a la bulle*/
  opacity: 0;
  animation: anim 8s forwards;
  /*changer la couleur aleatoire*/
  filter: hue-rotate(odeg);
}

/*animation créé pour le bulle du bas vers le haut*/
@keyframes anim {
  to{
    top: -250px;
    left: var(--left);
    opacity:1 ;
    filter: hue-rotate(720deg);
  }
}
h3{
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgb(218, 205, 205);
}
